<h1>Listing ideas</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.title %></td>
        <td><%= idea.body %></td>
        <td><%= idea.category.name %></td>

        <% if params[:category_id] %>
          <%= link_to idea.title, category_idea_path(@category, idea) %>
        <% else %>
          <td><%= link_to 'Show', idea %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Idea', new_category_idea_path %>
