<h1><%= @idea.title %></h1>


<%= link_to "Edit", edit_category_idea_path %>
<br>
<br>

Category: <%= @idea.category.name %>

<br>
<br>

<p>
  <%= @idea.body %>
</p>

<br>

<%= link_to 'Back', category_path(@idea.category) %>
