<br>

<%= link_to '<< Back', categories_path %>

<h1><%= @category.name %></h1>

<%= link_to "New Idea", new_category_idea_path(@category) %>

<br>
<br>

<% @ideas.each do |idea| %>
  <div class="idea-button">
    <%= link_to idea.title, category_idea_path(@category, idea) %>
    <div class="upvote"><%= link_to "Upvote #{idea.upvotes}", upvote_path(idea) %></div>
  </div>
<% end %>

